:root {
  --primary-color: #1a1464;
  --secondary-color: #2a1f7d;
  --accent-color: #64ffda;
  --text-color: #8892b0;
  --heading-color: #ccd6f6;
  --background-image: url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/image-3kmSDEeVrCwyAnptjCCDdhLuwsqina.png");
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

