:root {
  --primary-color: #1e3a8a;
  --secondary-color: #2563eb;
  --accent-color: #60a5fa;
  --text-color: #f8fafc;
  --heading-color: #ffffff;
  --card-bg: rgba(30, 58, 138, 0.7);
  --card-border: #3b82f6;
  --hover-color: #93c5fd;
  /* --background-image: url("/images/background/blue-background.jpg"); */
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

